@charset "UTF-8";
/* 
  Reset CSS 
  Youtube 👉 https://www.youtube.com/watch?v=Foieq2jTajE 
  Github  👉 https://github.com/eduardofierropro/Reset-CSS
*/

:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Código */
.header{
  width:100%;
  background-color: #282828;
  padding: 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  color:white;
}
.header .h1{
  /* background-color: aqua; */
}
.header .a{}

.header .button{
  /* background-color: crimson; */
  display: none;
}
.header .svg{
  width:2em;
  height:2em;
  fill:white;
}
.header .nav{
  /* background-color: bisque; */
  
}
.header .ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  
}
.header .li{
  margin: 0 .5em;
}

@media screen and (max-width:480px){
  .header .button{
    display: block;
    cursor: pointer;
  }
  .header .nav{
    width:100%;
    /* display: none; */
    height:0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .nav.activo{
    /* display: block; */
    height:50vh;
    pointer-events: auto;
  }
  .header .ul{
    flex-direction: column;
  }
  .header .li{
    margin: 1rem 0;
  }

}

#main-container{
  color: rgb(9, 9, 9);
  padding: 30px;
}
#main-container h1 {
 font-size: 30px;
}
.img_contenido {
width: 350;
height: 170;
padding: 20px;
}
/* botones con degradado*/
.btn {
  border: none; 
  color: white; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  display: inline-block;
  margin: 5px;
}

.primary {background-image: linear-gradient(to right, #007bff, #4ab2e2);} 
.primary:hover {background-image: linear-gradient(to right, #0b7dda, #4ab2e2);}
.secondary {background-image: linear-gradient(to right, #6c757d, #adb5bd);} 
.secondary:hover {background-image: linear-gradient(to right, #848b92, #adb5bd);}
.success {background-image: linear-gradient(to right, #28a745, #56c150);} 
.success:hover {background-image: linear-gradient(to right, #34b556, #56c150);}
.warning {background-image: linear-gradient(to right, #ffc107, #ffda4e);} 
.warning:hover {background-image: linear-gradient(to right, #ffb200, #ffda4e);}
.danger {background-image: linear-gradient(to right, #dc3545, #e0666e);} 
.danger:hover {background-image: linear-gradient(to right, #d32838, #e0666e);}

/* Input Text Formulario */
/* https://codepen.io/fidalgodev/pen/bOGaVy */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

.form_div {
  height: 30%;
	width: 50%;
  background: #9ea5a8; /* fallback for old browsers */
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  color: #fff;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border:none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
